name: Testing

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  ci-pass:
    name: Check if tests passed
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - name: Check if tests passed
        run: exit 0

  test:
    name: Test
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # stable
        with:
          toolchain: stable

      - name: Install protobuf
        run: |
          sudo apt update
          sudo apt -y install protobuf-compiler

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7

      - name: Test
        run: cargo test --workspace --all-features

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # stable
        with:
          toolchain: stable
          components: llvm-tools

      - name: Install protobuf
        run: |
          sudo apt update
          sudo apt -y install protobuf-compiler

      - name: Cache Cargo registry
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov --version 0.5.38

      - name: Generate coverage
        run: cargo llvm-cov --all-features --lcov --output-path lcov.info

      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
