name: Testing

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  ci-pass:
    name: Check if tests passed
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - name: Check if tests passed
        run: exit 0

  test:
    name: Test
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install rust
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # stable
        with:
          toolchain: stable

      - name: Install protobuf
        run: |
          sudo apt update
          sudo apt -y install protobuf-compiler

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Test
        run: cargo test --workspace --all-features

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install Rust
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # stable
        with:
          toolchain: stable
          components: llvm-tools

      - name: Install protobuf
        run: |
          sudo apt update
          sudo apt -y install protobuf-compiler

      - name: Cache Cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov --version 0.5.38

      - name: Generate coverage
        run: cargo llvm-cov --all-features --lcov --output-path lcov.info

      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
